 /* overall style of the page */
 .body {
    font-family: monospace, sans-serif, Arial;
    background-color: lightgray;
}
/* Specifics for left-placed image container */

/* header'sstyle */
.header {
    font-family: monospace, sans-serif, Arial;
    font-size: 16px;
}    
/* specifics for centered image container */
.container_1 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    font-family: monospace, sans-serif, Arial;
}
/* Specifics for right-placed image container */	
.container_2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    font-family: monospace, sans-serif, Arial;
}

/* Specifics for left-placed image container */	
.container_3 {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    font-family: monospace, sans-serif, Arial;
}

/* paragraph, article, footnote's style */
.p, 
.article,
.sup {
    font-family: monospace, sans-serif, Arial;
    margin-top: 5px;
    padding: 0;
    margin: 0;
}

/* ordered list style */
.ol {
    font-family: monospace, sans-serif, Arial;
    font-size: 16px;
    list-style-type: decimal;
}
/* unordered list style */

/* switching from bullets to diamonds step1 */
ul {
    list-style-type: none;
    padding:0;
    margin:0;
    line-height: 1.5em;
}
/* switching from bullets to diamonds step2 */
ul li {
    padding: 0px;
}
/* switching from bullets to diamonds step3 */
ul li::before {
    list-style-position: inside;
    content: "\2666";
    padding-right: 8px;
    color: black;
    line-height: 1em;
    padding: 0;
}
/* footers style */
.footer {
    font-size: 16px;
    font-family: monospace, sans-serif, Arial;
}

/* style for text */
.text {
    font-family: monospace, sans-serif, Arial;
    padding-right: 30px;
    font-size: 16px;
}

/* style for title and headers */
.title,
h1,
h2,
h3 {
    font-family: monospace, sans-serif, Arial;
    padding: 0;
    margin: 0;
    margin-top: 40px;
}

/* defines border around image */
.thin-dark-border {
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

/* first photo's style */
.zemlika_2022_logo {
    width: 60%;
    height: auto;
    position: relative;
    display: block;
}

/* second photo's style */
.zemlika_logo {
    width: 300px;
    height: 300px;
    position: relative;
    display: block;
}

/* third photo's style */
.baznica {
    width: 350px;
    height: 250px;
    position: relative;
    display: block;
}

/* defines size of map in i-frame */
.karte {
    width: 350px;
    height:350px;
    border-style: hidden;
}
/* for image title positioning below image */
.image_title_1 {
    position: absolute;
    left: 55%;
    margin-right: -50%;
    font-size: 10px;
    font-family: monospace, sans-serif, Arial;
}
/* for image title positioning below image */
.image_title_2 {
    position: relative;
    left: 60%;
    margin-right: -50%;
    font-size: 10px;
    font-family: monospace, sans-serif, Arial;
    margin-bottom: 30px;
}
/* for image title positioning below image */
.image_title_3 {
    position: absolute;
    display: grid;
    left: 110px;
    margin-right: -50%;
    font-size: 10px;
    font-family: monospace, sans-serif, Arial;
}